@import "../../styles/responsive.mixings";

:host {
  border-bottom: 4px solid #fb8c00;

  .header-container {
    display: flex;
    max-width: 1560px;
    margin: auto;
    width: 100%;

    @include max-wd {
      max-width: 1140px;
    }

    @include max-lg {
      max-width: 960px;
    }

    @include max-md {
      max-width: 720px;
    }
  }

  .mat-form-field {
    max-width: 60px;
  }

  .mat-card {
    box-shadow: none !important;
    border-radius: unset !important;
    background: transparent !important;
    border-left: 1px solid;

    .mat-card-title, .mat-card-subtitle {
      margin-bottom: -12px !important;

      @include max-md {
        display: none;
      }
    }

    .user-image {
      background-image: url('https://pbs.twimg.com/profile_images/874769088580636673/EOscHF1I_400x400.jpg');
      background-size: cover;
    }
  }
}
